@import 'variables';

.sign-up {
  display: flex;
  align-items: stretch;

  width: 1170px;

  background-color: $primary-color;
  box-shadow: $box-shadow;
  @media screen and (max-width: 1280px) and (min-width: 768px) {
    align-items: center;
    flex-direction: column;

    width: 710px;
  }
  @media screen and (max-width: 768px){
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  &__prices {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 40px;

    width: 50%;
    padding: 110px 0;
    margin: 0;

    background-color: $secondary-color;
    color: $secondary-text-color;
    @media screen and (max-width: 1280px) and (min-width: 768px) {
      width: 100%;
      height: 540px;
      padding: 0;
    }
    @media screen and (max-width: 768px){
      row-gap: 35px;

      width: 100%;
      height: 400px;
      padding: 50px 0 0 0;
    }
  }
  &__form {
    width: 50%;
    min-height: 100%;
    padding: 60px 130px 60px 80px;
    @media screen and (max-width: 1280px) and (min-width: 768px) {
      width: 100%;
      min-height: 0;
      padding: 80px 120px;
    }
    @media screen and (max-width: 768px){
      width: 100%;
      min-height: 0;
      padding: 45px 25px;
    }
  }
  &__title {
    font-weight: bold;
    font-size: 34px;

    margin-bottom: 30px;
    @media screen and (max-width: 1280px) and (min-width: 768px) {
      font-size: 38px;
      width: 100%;
      text-align: center;
    }
    @media screen and (max-width: 768px) {
      font-size: 30px;

      padding-right: 60px;
    }
  }
}

@import 'discount';
@import 'price';

@import 'utp-list';
@import 'status-list';
@import 'form';
