@import 'variables';

.utp-list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  font-family: Open Sans, sans-serif;

  margin-bottom: 44px;
  &__item {
    position: relative;

    display: flex;
    align-items: center;
    text-align: center;

    font-size: 15px;

    color: $secondary-text-color-dim;

    margin-left: 20px;
    &::before {
      position: absolute;
      left: -20px;

      width: 6px;
      height: 6px;
      border-radius: 100%;

      background-color: $secondary-color;
      content: '';
    }
  }
}
