@import 'variables';
@import 'reset';

@font-face {
  font-family: 'Roboto Slab';
  src: url('fonts/RobotoSlab-Regular.ttf') format('truetype-variations');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('fonts/RobotoSlab-Light.ttf') format('truetype-variations');
  font-weight: 300;
}

body {
  font-family: Roboto, serif;

  background-color: $background-color;
  color: $primary-text-color;

  letter-spacing: -0.5px;
}

main {
  min-height: 100vh;
}

input {
  appearance: none;
  &:focus {
    outline: none;
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
  height: 100%;

  padding: 50px 30px;
  @media screen and (max-width: 768px) {
    padding: 50px 0 0 0;
  }
}

.title {
  font-weight: bold;
  font-size: 55px;

  margin-bottom: 70px;
  @media screen and (max-width: 1280px) and (min-width: 768px) {
    font-size: 45px;
  }
  @media screen and (max-width: 768px) {
    width: 100%;
    padding: 0 20px;

    line-height: 1.2;

    font-size: 38px;

    text-align: center;

    margin-bottom: 80px;
  }
}

@import 'styles/sign-up';
