$background-color: #f6f7fd;
$primary-text-color: black;
$secondary-text-color: white;
$secondary-text-color-grayed: darken($secondary-text-color, 30%);
$secondary-text-color-dim: darken($secondary-text-color, 50%);
$primary-color: #fafbfe;
$secondary-color: #3d3bff;
$accent-color: black;
$border-color: #e6e8f0;
$box-shadow: 0px 2px 24px rgba(168, 175, 196, 0.3);
